// Override default font family
$font-family-chinese      = "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei"
// The following line is necessary, because it's using the $font-famliy-chinese variable
$font-family-base         = Lato, $font-family-chinese, sans-serif

// Font Wight
$font-weight              = 300
